.lg-item{
  padding: 0.25rem 0.75rem !important;

  span {
    font-size: x-small;
    border: 1px solid #0c5460;
    background: #bee5eb;
    border-radius: 5px;
    color: #0c5460;
    width: 20px;
    padding: 3px;
    margin-right: 10px;
  }

}